.area{  
    width: 770px;  
    overflow: hidden;  
    margin: auto;  
    margin: 50 50 100 500px;  
    padding: 30px;  
    background: #9fa2f5;  
    border-radius: 10px ;  
      
}  
